Package: com.cabralcole.flashcolor
Name: FlashColor
Depends: firmware (>= 7.0), mobilesubstrate, preferenceloader, org.thebigboss.libcolorpicker
Version: 1.0
Architecture: iphoneos-arm
Description: Change the screenshot flash color.
Maintainer: cabralcole
Author: cabralcole
Section: Tweaks
