<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Developer</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>big</key>
			<true/>
			<key>height</key>
			<integer>64</integer>
			<key>label</key>
			<string>Cole Cabral</string>
			<key>user</key>
			<string>ca13ra1</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CEPHEI</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>HASHBANG</string>
			<key>user</key>
			<string>hbangws</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>LIBCOLORPICKER</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>PixelFireDev</string>
			<key>user</key>
			<string>PixelFireDev</string>
		</dict>
	</array>
	<key>title</key>
	<string>Credits</string>
</dict>
</plist>